@import url(owl.carousel.min.css);
@import url(owl.theme.default.min.css);
@import url(bootstrap.min.css);
@import url(bootstrap-theme.css);
@import url("https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;1,400;1,500&family=Lato:wght@300;400&family=Montserrat&display=swap");
@import url(../fontawesome-free-5.0.8/web-fonts-with-css/css/fontawesome-all.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Asap', sans-serif;
  color: #4d4d4d; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

a {
  text-decoration: none; }

ul {
  list-style: none; }

button {
  border: none;
  outline: none;
  cursor: pointer; }

input {
  border: none;
  outline: none; }

textarea {
  border: none;
  outline: none;
  resize: none; }

.name .btn, .about .btn, .portfolio .btn, .footer button.btn {
  line-height: 50px;
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #4d4d4d;
  background-color: #dfdfdf;
  text-transform: uppercase;
  border: 1px solid #4d4d4d;
  border-radius: 0;
  padding: 0; }

.services .services__title, .skills .skills__title, .portfolio .portfolio__title, .slider .slider__title, .footer .footer__title {
  font-size: 46px;
  font-weight: 700;
  line-height: 1;
  color: #4d4d4d;
  opacity: .8;
  text-transform: uppercase;
  position: relative; }

.services .services__title:after, .skills .skills__title:after, .portfolio .portfolio__title:after, .slider .slider__title:after, .footer .footer__title:after {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  width: 60px;
  background-color: #4d4d4d; }

.services .services__name, .counter .counter__number, .counter .counter__name {
  font-size: 24px;
  font-weight: 600;
  color: #4d4d4d; }

.header {
  background-color: #e1e1e1; }
  .header .navbar {
    position: relative;
    min-height: 0;
    margin-bottom: 0;
    border: none; }
    .header .navbar .collapse .nav li a {
      text-transform: uppercase;
      font-size: 16px;
      color: #4d4d4d;
      position: relative;
      transition: .2s;
      margin: 30px 10px;
      padding: 0 0 8px; }
      .header .navbar .collapse .nav li a:before {
        display: block;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #878787;
        opacity: 0; }
      .header .navbar .collapse .nav li a:hover {
        text-transform: none; }
        .header .navbar .collapse .nav li a:hover:before {
          opacity: 1; }
  .header .navbar-default {
    background-color: inherit;
    border-color: inherit;
    background-image: none;
    box-shadow: none; }
  .header .navbar-header .navbar-brand {
    height: auto; }
  .header img {
    width: 100%;
    display: block; }

.name {
  background-color: #e1e1e1; }
  @media screen and (max-width: 425px) {
    .name {
      text-align: center; } }
  .name .name__title {
    font-size: 90px;
    font-weight: 500;
    color: #4d4d4d;
    margin: 140px 0 0 -6px; }
    @media screen and (max-width: 768px) {
      .name .name__title {
        margin: 0 0 10px;
        font-size: 80px; } }
    @media screen and (max-width: 425px) {
      .name .name__title {
        font-size: 60px; } }
  .name .name__subtitle {
    font-size: 22px;
    font-weight: 600;
    color: #4d4d4d;
    line-height: 1;
    opacity: .54;
    margin-bottom: 28px; }
  .name .btn {
    margin-right: 20px; }
    @media screen and (max-width: 768px) {
      .name .btn {
        margin-right: 10px; } }
    @media screen and (max-width: 425px) {
      .name .btn {
        margin-bottom: 10px; } }
  .name .btn-default {
    background-image: none;
    transition: background .2s linear; }
    .name .btn-default:hover {
      background-color: #ffffff;
      border: none;
      -webkit-box-shadow: 0 20px 60px 10px #B3B3B3;
      box-shadow: 0 20px 60px 10px #B3B3B3; }

.about {
  padding: 110px 0 125px; }
  @media screen and (max-width: 425px) {
    .about {
      text-align: center;
      padding: 20px; } }
  .about .about__title {
    width: 320px;
    font-size: 46px;
    font-weight: 700;
    line-height: 1;
    color: #4d4d4d;
    opacity: .8;
    position: relative;
    margin-top: 90px; }
    @media screen and (max-width: 768px) {
      .about .about__title {
        margin-top: 45px; } }
    @media screen and (max-width: 425px) {
      .about .about__title {
        margin-top: 0;
        width: auto;
        font-size: 38px; } }
    .about .about__title:after {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 4px;
      width: 60px;
      color: #4d4d4d;
      margin-top: -18px; }
  .about .about__text {
    width: 474px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    color: #4d4d4d;
    margin-bottom: 30px; }
    @media screen and (max-width: 768px) {
      .about .about__text {
        width: auto; } }
  .about .btn {
    width: 245px;
    background-color: #FFFFFF; }
  .about .btn-default {
    background-image: none;
    transition: background .2s linear; }
    .about .btn-default:hover {
      background-color: #ffffff;
      border: none;
      -webkit-box-shadow: 0 20px 60px 10px #B3B3B3;
      box-shadow: 0 20px 60px 10px #B3B3B3; }
  .about .about__item {
    height: 443px;
    position: relative;
    overflow: hidden; }
    @media screen and (max-width: 425px) {
      .about .about__item {
        height: auto;
        margin-top: 30px; } }
    .about .about__item .about__img {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      transform: translate3d(-50%, -50%, 0); }
      @media screen and (max-width: 425px) {
        .about .about__item .about__img {
          width: 100%;
          position: relative;
          top: 0;
          left: 0;
          transform: none; } }

.services {
  background-color: #f6f6f6;
  padding: 120px 0 112px; }
  @media screen and (max-width: 425px) {
    .services {
      padding: 20px 0 20px; } }
  @media screen and (max-width: 425px) {
    .services .services__title {
      font-size: 38px; } }
  .services .services__title:after {
    left: 50%;
    margin: -18px 0 0 -25px; }
  .services .services__img {
    display: inline-block;
    height: 80px;
    margin: 60px 0 20px; }
    @media screen and (max-width: 425px) {
      .services .services__img {
        margin: 20px 0 10px; } }
  .services .services__name {
    line-height: 1; }

.skills {
  padding: 118px 0 125px; }
  @media screen and (max-width: 425px) {
    .skills {
      padding: 20px 0 20px; } }
  .skills .skills__title {
    margin-bottom: 30px; }
    @media screen and (max-width: 425px) {
      .skills .skills__title {
        font-size: 38px; } }
    .skills .skills__title:after {
      left: 50%;
      margin: -18px 0 0 -25px; }
  .skills .skills__img {
    display: block;
    width: 100%; }

.portfolio {
  background-color: #f6f6f6;
  padding: 125px 0 122px; }
  @media screen and (max-width: 425px) {
    .portfolio {
      padding: 20px 0 20px; } }
  @media screen and (max-width: 425px) {
    .portfolio .portfolio__title {
      font-size: 38px; } }
  .portfolio .portfolio__title:after {
    left: 50%;
    margin: -18px 0 0 -25px; }
  .portfolio .portfolio__img {
    display: inline-block;
    width: 100%;
    height: 320px;
    position: relative;
    transition: .2s; }
    @media screen and (max-width: 768px) {
      .portfolio .portfolio__img {
        width: 220px;
        height: 220px; } }
  .portfolio .portfolio__link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 55px;
    height: 55px;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    background-color: #ffffff;
    color: #585858;
    text-decoration: none;
    transition: .2s;
    opacity: 0; }
  .portfolio .portfolio--hover {
    transition: .2s; }
    @media screen and (max-width: 425px) {
      .portfolio .portfolio--hover {
        width: 220px;
        margin: auto; } }
    .portfolio .portfolio--hover:hover {
      -webkit-box-shadow: 0 0 60px 10px #B3B3B3;
      box-shadow: 0 0 60px 10px #B3B3B3; }
      .portfolio .portfolio--hover:hover .portfolio__link {
        opacity: 1; }
  .portfolio .portfolio--margin {
    margin-top: 30px; }
  .portfolio .btn {
    width: 190px;
    background-color: #f6f6f6;
    margin-top: 30px; }
  .portfolio .btn-default {
    background-image: none;
    transition: background-color .2s linear; }
    .portfolio .btn-default:hover {
      background-color: #ffffff;
      border: none;
      line-height: 52px;
      -webkit-box-shadow: 0 20px 60px 10px #B3B3B3;
      box-shadow: 0 20px 60px 10px #B3B3B3; }

.slider {
  padding: 125px 0 120px; }
  @media screen and (max-width: 425px) {
    .slider {
      padding: 20px 0 20px; } }
  .slider .slider__title {
    margin-bottom: 50px; }
    @media screen and (max-width: 425px) {
      .slider .slider__title {
        font-size: 38px; } }
    .slider .slider__title:after {
      left: 50%;
      margin: -18px 0 0 -25px; }
  .slider .slider__inner {
    width: 954px;
    margin: auto;
    border: 1px solid #000000;
    position: relative;
    padding: 85px 70px 108px 120px; }
    @media screen and (max-width: 768px) {
      .slider .slider__inner {
        width: auto; } }
    @media screen and (max-width: 425px) {
      .slider .slider__inner {
        padding: 10px 10px; } }
    .slider .slider__inner .slider__item {
      display: flex; }
      @media screen and (max-width: 425px) {
        .slider .slider__inner .slider__item {
          flex-direction: column;
          align-items: center; } }
      .slider .slider__inner .slider__item .slider__photo {
        display: block;
        width: 160px;
        height: 160px;
        margin-right: 30px; }
        @media screen and (max-width: 425px) {
          .slider .slider__inner .slider__item .slider__photo {
            margin-right: 0;
            margin-bottom: 10px; } }
      @media screen and (max-width: 425px) {
        .slider .slider__inner .slider__item .slider__text {
          text-align: center; } }
      .slider .slider__inner .slider__item .slider__text .slider__name {
        font-size: 30px;
        font-weight: 600;
        line-height: 1;
        color: #212121;
        text-transform: uppercase;
        opacity: .9;
        margin-bottom: 5px; }
      .slider .slider__inner .slider__item .slider__text .slider__position {
        font-size: 12px;
        line-height: 1;
        color: #212121;
        text-transform: uppercase;
        font-style: italic;
        opacity: .9;
        margin-bottom: 10px; }
      .slider .slider__inner .slider__item .slider__text .slider__description {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.6;
        color: #212121;
        text-transform: uppercase;
        opacity: .6; }
        @media screen and (max-width: 425px) {
          .slider .slider__inner .slider__item .slider__text .slider__description {
            font-size: 12px;
            line-height: 1.5; } }
    .slider .slider__inner .owl-carousel {
      display: block; }
      .slider .slider__inner .owl-carousel button.owl-dot {
        height: 10px;
        width: 10px;
        border: 1px solid #212121;
        background-color: #ffffff;
        outline: none;
        margin: 5px; }
      .slider .slider__inner .owl-carousel button.owl-dot.active {
        background-color: #212121;
        transition: background-color .2s linear; }
      .slider .slider__inner .owl-carousel .owl-dots {
        position: absolute;
        bottom: -50px;
        right: 50%; }
        @media screen and (max-width: 425px) {
          .slider .slider__inner .owl-carousel .owl-dots {
            bottom: -5px;
            margin-right: -25px; } }

.counter {
  background-color: #f6f6f6;
  padding: 55px 0 45px;
  margin-bottom: 154px; }
  @media screen and (max-width: 425px) {
    .counter {
      margin-bottom: 0; } }
  .counter .counter__img {
    display: inline-block;
    height: 82px;
    margin-bottom: 30px; }
    @media screen and (max-width: 425px) {
      .counter .counter__img {
        margin-bottom: 10px; } }
  .counter .counter__number {
    font-size: 30px;
    line-height: 1;
    font-weight: 600;
    margin-bottom: 10px; }
  .counter .counter__name {
    font-size: 22px;
    line-height: 1;
    font-weight: 300;
    margin-bottom: 20px; }
    @media screen and (max-width: 425px) {
      .counter .counter__name {
        font-size: 18px; } }

.footer {
  background: #646465 url("../images/footer-bg.jpg") no-repeat center;
  background-size: cover;
  padding: 145px 0 30px; }
  @media screen and (max-width: 425px) {
    .footer {
      padding: 20px 0 20px;
      background: #646465 url("../images/footer-bg.jpg") no-repeat; } }
  .footer .footer__title {
    color: #FFFFFF;
    margin-bottom: 70px; }
    @media screen and (max-width: 425px) {
      .footer .footer__title {
        font-size: 38px;
        margin-bottom: 20px; } }
    .footer .footer__title:after {
      left: 50%;
      margin: -18px 0 0 -25px;
      background-color: #c1c1c1; }
  .footer .form-group {
    margin-bottom: 30px; }
    .footer .form-group .form-control {
      font-size: 16px;
      font-weight: 300;
      color: #212121;
      background-color: #fff;
      opacity: .8;
      outline: none;
      height: 58px;
      border-radius: 0; }
  .footer textarea.form-control {
    height: 207px !important;
    padding-top: 25px;
    margin-bottom: 15px; }
  .footer button.btn {
    width: 124px;
    border: none; }
  .footer button.btn-default {
    background-image: none;
    transition: background .2s linear; }
    .footer button.btn-default:hover {
      background-color: #ffffff;
      border: none;
      -webkit-box-shadow: 0 20px 60px 10px #B3B3B3;
      box-shadow: 0 20px 60px 10px #B3B3B3; }
  .footer button i {
    margin-left: 7px; }
  .footer .footer__social {
    margin-top: 50px; }
    @media screen and (max-width: 425px) {
      .footer .footer__social {
        margin-top: 30px;
        text-align: center; } }
    .footer .footer__social .social__icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: 27px;
      width: 27px;
      background-color: #fff;
      transition: .2s linear;
      text-decoration: none;
      margin-right: 5px; }
      .footer .footer__social .social__icon:hover i {
        color: #fff; }
      .footer .footer__social .social__icon i {
        font-size: 15px;
        color: #4d4d4d;
        opacity: .9; }
    .footer .footer__social .icon--fb:hover {
      background-color: #3b5997; }
    .footer .footer__social .icon--tw:hover {
      background-color: #3ec2f3; }
    .footer .footer__social .icon--in:hover {
      background-color: #0e76a8; }
    .footer .footer__social .icon--gp:hover {
      background-color: #e44c41; }
    .footer .footer__social .icon--be:hover {
      background-color: #053eff; }
    .footer .footer__social .icon--db:hover {
      background-color: #ea4c89; }
  .footer .footer__year {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #FFFFFF;
    line-height: 27px;
    margin: 50px 0 0 -36px; }
    @media screen and (max-width: 768px) {
      .footer .footer__year {
        margin: 50px 0 0; } }
    @media screen and (max-width: 425px) {
      .footer .footer__year {
        text-align: center;
        margin: 20px 0 0; } }
  .footer .footer--border {
    border-top: 1px solid #c4c4c4;
    width: 100%; }
    @media screen and (max-width: 768px) {
      .footer .footer--border {
        width: auto; } }

#button-up {
  display: none;
  position: fixed;
  width: 41px;
  height: 41px;
  right: 30px;
  bottom: 193px;
  text-align: center;
  font-size: 24px;
  color: #4d4d4d;
  background-color: #fff;
  transition: .3s;
  padding-top: 5px; }
  @media screen and (max-width: 425px) {
    #button-up {
      right: 10px;
      bottom: 10px; } }

#button-up:hover {
  cursor: pointer;
  transition: .3s;
  -webkit-box-shadow: 0 0 60px 10px #B3B3B3;
  box-shadow: 0 0 60px 10px #B3B3B3; }

/*# sourceMappingURL=style.css.map */
